@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div class="container">
    <h1 class="display-4">Welcome To The Online Text Match</h1>
    <br/>
    <p>The TextMatch provids a text search algorithm to finds the frequency of a SubText in a given Text. To get started, click <a href="/textmanipulation">here</a></p>
</div>
