@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Welcome To The Online Text Match</h1>
    <p>The TextMatch provids a text search algorith to finds the frequency of a SubText in a given Text. To get started, click <a href="/textmanipulation">here</a></p>
</div>

