@{
    ViewData["Title"] = "Text Match";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div >
    <h1 class="display-4">Text Match Services</h1>
    <h6>Provide arrange of algorithms to find a text, word or sentence, in a given paragraph. Currently, the TextMatch algorithm finds the frequency and positions of the text in the paragraph.</h6>
    <br/>
    <p>Let's begin with <a href="/textmanipulation/TextMatch">Text Match</a>.</p>
</div>
