@{
    ViewData["Title"] = "Text Match";
}

<div >
    <h1 class="display-4">Text Manipulation Services</h1>
    <h4>Provide arrange of algorithms for word processing online. Currently, the TextMatch algorithm is avialable.</h4>
    <br/>
    <p>Keep in touch for more algorithms.</p>
    <p>Let's begin <a href="/textmanipulation/TextMatch">Text Match</a></p>
</div>

